- var form = { name: 'UserCreatePassword' }
- var field = { newPw: 'pw1', confirmPw: 'pw2' }
- var pwd = { min: '6' }

//- TODO: validate max-length
.blvd-signup-box
  .modal-dialog.text-center
    .panel-heading
      h1.panel-title.text-uppercase Registrate
    alert(ng-hide="alert.msg == ''", type='{{alert.type}}') {{ alert.msg }}
    .panel-body
      h3 Crea tu contraseña
      form(name='#{form.name}')
        .form-group
          input.form-control(id='#{field.newPw}', name='#{field.newPw}', ng-model='#{field.newPw}', type='password', ng-required='', ng-minlength='#{pwd.min}', autofocus='', placeholder='Contraseña nueva')
          p.error-msg(ng-if='#{form.name}.#{field.newPw}.$error.minlength') La contraseña debe tener un mínimo de 6 carácteres.
        .form-group
          input.form-control(id='#{field.confirmPw}', name='#{field.confirmPw}', ng-model='#{field.confirmPw}', type='password', ng-required='', match='#{field.newPw}', ng-minlength='#{pwd.min}', placeholder='Repite la contraseña nueva')
          p.error-msg(ng-if='#{form.name}.#{field.confirmPw}.$error.match') Debe coincidir con la contraseña nueva.
        button.btn.btn-sm.btn-primary(type='submit', ng-click='signup()') Crear contraseña
