mixin form-input-persona(display, name, type, ngmodel, placeholder, attr)
  .form-group
    label(for=name)= display
    input#name.form-control(name=name, type=type, ng-model=ngmodel, ng-required='', placeholder=placeholder, disabled=attr)

.blvd-account-views-persona: .col-lg-12.col-xs-12.nopadding
  h2 Opciones generales

  .blvd-account-views-persona-info: .col-lg-8.col-xs-12.nopadding
    h3 Tus datos personales
    form(name='changePersonalInfo')
      +form-input-persona('ID', 'current-id', 'text', 'PersonaInfo.id', '', 'true')
      +form-input-persona('Nombres', 'current-givenname', 'text', 'PersonaInfo.givenname', '', 'true')
      +form-input-persona('Apellidos', 'current-surname', 'text', 'PersonaInfo.surname', '', 'true')
      +form-input-persona('Nickname', 'current-displayname', 'text', 'PersonaInfo.display_name', '')
      +form-input-persona('Correo electrónico', 'current-email', 'email', 'PersonaInfo.email', '')
      +form-input-persona('Teléfono', 'current-phone', 'tel', 'PersonaInfo.phone', '')

  .blvd-account-views-persona-profile-image: .col-lg-4.col-xs-12
    figure: .profile-image(style='background-image: url("{{ PersonaInfo.image_profile }}")', href='#')
    form(name='changeCurrentProfileImage')
      .form-group
        button.btn.btn-success.text-uppercase(type='button') Actualiza tu foto
      .form-group
        button.btn.btn-danger.text-uppercase(type='button') Elimina tu foto
